html {
	border: double;
	color: blue;
	width: 80%;
	margin-top: 30px;
	margin-left: 70px;
}

h1 {
	font-family: Arial;
	color: green;
	font-size: 40px;
	text-align: center;
	font-variant: small-caps;
}

h2 {
	font-family: Arial;
	color: #ADFF2F;
	text-shadow: black 2px 2px;
	text-align: center;
}

#hat {
	position: relative;
	top: 50px;
	left: 200px;
	z-index: 2
}

#bill {
	position: absolute;
	top: 300px;
	left: 300px;
	z-index: 1
}